/* You can add global styles to this file, and also import other style files */

body {
  background-color: #ddedf1;
}

.main-content {
  background: #FFF;
  margin: 10px 25px;
  padding: 10px 30px;
}

.w-full {
  width: 100%;
}
